<!--已完成订单-->
<div class="text">
    <%for(var i = 0;i<list.length;i++) {%>
    <div id="<%=list[i]._id%>_order">
    <small>订单号：</small><strong class="text01"><%=list[i].order_num%></strong>
    <small class="text02">订单状态：</small><%if(list[i].status == 0) {%><strong class="text01">未支付</strong><%}else {%><strong class="text01">已支付</strong><%}%><br>
    <small>收货地址：</small><strong><%=addrs.address%></strong><br>
    <small>收件人：</small><strong><%=addrs.name%></strong><br>
    <small>电话：</small><strong><%=addrs.phone%></strong><br>
    <table class="table table-bordered table">
        <tr>
            <th class="">书名</th>
            <th>金额</th>
            <th>数量</th>
            <th>小计</th>

        </tr>
        <% for(var j = 0;j<list[i].book.length;j++) {%>
        <tr>
            <td>
                <%=list[i].book[j].name%>
            </td>
            <td>￥<%=list[i].book[j].price%></td>
            <td><%=list[i].book[j].num%></td>
            <td>￥<%=list[i].book[j].total_price%></td>

        </tr>
        <%}%>
        <tr>
            <td><%if(list[i].status == 0) {%><a href="/shopping/firm/<%=list[i]._id%>" type="button" class="btn btn-warning" >结算</a><%}%></td>
            <td><button onclick="del('<%=list[i]._id%>')" type="button" class="btn btn-warning" >删除订单</button></td>
            <td><%=list[i].total_num%></td>
            <td>￥<%=list[i].total_price%></td>
        </tr>
    </table>
    </div>
    <%}%>
</div>
