<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>在线书城</title>
    <link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.min.css">
    <!--bootstrap官方样式-->
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <!--强跨浏览器表现的一致性css 重置样式-->
    <link rel="stylesheet" href="/stylesheets/bookstore.css">
    <!--自用样式-->
</head>
<style type="text/css">
    .dropdown-submenu {
        position: relative;
    }
    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }
    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }
    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }
    .dropdown-submenu:hover > a:after {
        border-left-color: #fff;
    }
    .dropdown-submenu.pull-left {
        float: none;
    }
    .dropdown-submenu.pull-left > .dropdown-menu {
        left: -100%;
        margin-left: 10px;
        -webkit-border-radius: 6px 0 6px 6px;
        -moz-border-radius: 6px 0 6px 6px;
        border-radius: 6px 0 6px 6px;
    }
</style>
<body>
<!--头部-->
<%-include('navbar')%>
<!--路径导航-->
<div class="container">
    <div class="row" style="height: 800px;">
        <div class="col-md-2 col-sm-2 text-center" style=" background: white ;margin-left: 0px; margin-right: 0px ;margin-top: 3%;padding:2%">
            <ul class="nav nav-pills nav-stacked"  id="myTab">
                <li class="in active ">
                    <a href="/classification" >
                        <p>
                            图书分类
                        </p>
                    </a>
                </li>
                <% for(var i = 0;i < category.length;i++){ %>
                <li class="dropdown-submenu">
                    <a href="" data-index="2" data-title="一级菜单"> <%= category[i].name %></a>
                    <ul class="dropdown-menu">
                        <% for(var j = 0;j < category[i].category.length;j++){ %>
                        <li><a data-index="2-1"  href="/classification?pname=<%= category[i].name %>&cname=<%= category[i].category[j].name %>&cid=<%= category[i].category[j]._id %>"><%= category[i].category[j].name %></a></li>
                        <% } %>
                    </ul>
                </li>
            <%}%>
            </ul>
        </div>

        <div class="col-md-9 col-sm-9 col-md-offset-1">
            <ol class="breadcrumb" style="background: rgb(212,212,212);margin-top: 60px;">
                <li>最近上架：</li>
                <button type="button" class="btn btn-default btn-sm">
                    <a href="/classification?pname=<%= pageInfo.pname %>&cname=<%= pageInfo.cname %>&cid=<%= pageInfo.cid %>&order_cnt=1"><span class="glyphicon glyphicon-chevron-down">销量</span></a>
                </button>
                <button type="button" class="btn btn-default btn-sm">
                    <a href="/classification?pname=<%= pageInfo.pname %>&cname=<%= pageInfo.cname %>&cid=<%= pageInfo.cid %>&price=1"><span class="glyphicon glyphicon-chevron-up">价格</span></a>
                </button>
            </ol>
            <div id="myTabContent" class="tab-content">
                <div class="in active tab-pane fade" id="f1">
                    <!--最近上架-->
                    <div class="row">
                        <div class="col-md-10">
                            <div  class="text-right">

                            </div>
                            <div class="row">
                                <% for (var i=0; i<bookData.length; i++) { %>
                                <div class="col-sm-4 col-md-3">
                                    <div class="thumbnail">
                                        <%if(bookData[i].img) {%>
                                        <img src="/uploads/<%=bookData[i].img%>">
                                        <% }else {%>
                                        <img src="/images/65465465.jpg">
                                        <% } %>
                                        <div class="caption">
                                            <h3 style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;"><%=bookData[i].name%></h3>
                                            <p>￥<%=bookData[i].price%></p>
                                            <p><a href="/bookInfor/<%=bookData[i]._id%>" class="btn btn-danger">点击查看</a></p>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--分页开始-->
            <% if(pageInfo.totalPage > 1) { %>
            <div class="bs-page text-center">
                <a class="btn btn-default" href="javascript:;">共有<%= pageInfo.totalPage %>页</a>
                <a class="btn btn-default"
                   href="/classification?pname=<%= pageInfo.pname %>&cname=<%= pageInfo.cname %>&cid=<%= pageInfo.cid %>&order_cnt=<%= pageInfo.order_cnt %>&price=<%= pageInfo.price %>&page=1">首页</a>
                <% if (pageInfo.page != 1) { %>
                <a class="btn btn-default"
                   href="/classification?pname=<%= pageInfo.pname %>&cname=<%= pageInfo.cname %>&cid=<%= pageInfo.cid %>&order_cnt=<%= pageInfo.order_cnt %>&price=<%= pageInfo.price %>&page=<%= pageInfo.page - 1 %>">上一页</a>
                <% } %>
                <a class="btn btn-default active"
                   href="/classification?pname=<%= pageInfo.pname %>&cname=<%= pageInfo.cname %>&cid=<%= pageInfo.cid %>&order_cnt=<%= pageInfo.order_cnt %>&price=<%= pageInfo.price %>&page=<%= pageInfo.page %>"><%= pageInfo.page %></a>

                <% if (pageInfo.page <= pageInfo.totalPage - 1 ){ %>
                <a class="btn btn-default"
                   href="/classification?pname=<%= pageInfo.pname %>&cname=<%= pageInfo.cname %>&cid=<%= pageInfo.cid %>&order_cnt=<%= pageInfo.order_cnt %>&price=<%= pageInfo.price %>&page=<%= parseInt(pageInfo.page) + 1 %>"><%= parseInt(pageInfo.page) + 1 %></a>
                <% } if (pageInfo.page <= pageInfo.totalPage - 2)  { %>
                <a class="btn btn-default"
                   href="/classification?pname=<%= pageInfo.pname %>&cname=<%= pageInfo.cname %>&cid=<%= pageInfo.cid %>&order_cnt=<%= pageInfo.order_cnt %>&price=<%= pageInfo.price %>&page=<%= parseInt(pageInfo.page) + 2 %>"><%= parseInt(pageInfo.page) + 2 %></a>
                <% }if(pageInfo.page < pageInfo.totalPage) { %>
                <a class="btn btn-default"
                   href="/classification?pname=<%= pageInfo.pname %>&cname=<%= pageInfo.cname %>&cid=<%= pageInfo.cid %>&order_cnt=<%= pageInfo.order_cnt %>&price=<%= pageInfo.price %>&page=<%= parseInt(pageInfo.page) + 1 %>">下一页</a>
                <% } %>
                <a class="btn btn-default"
                   href="/classification?pname=<%= pageInfo.pname %>&cname=<%= pageInfo.cname %>&cid=<%= pageInfo.cid %>&order_cnt=<%= pageInfo.order_cnt %>&price=<%= pageInfo.price %>&page=<%= pageInfo.totalPage %>">尾页</a>
            </div>
            <% } %>
            <!--分页结束-->

        </div>
    </div>
</div>

<!--底部-->
<%-include('footer')%>
</body>
<script src="/javascripts/jquery-3.2.1.min.js"></script><!--jquery-->
<script src="/bootstrap-3.3.7/js/bootstrap.js"></script><!--bootstrap官方js-->
<%- include('shopping_car_cnt.ejs') %>
<script>
    $(function () {
        $('#myTab li:eq(0) a').tab('show');
    });
</script>
</html>