<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>确认支付</title>
    <link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.min.css">
    <!--bootstrap官方样式-->
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <!--强跨浏览器表现的一致性css 重置样式-->
    <link rel="stylesheet" href="/stylesheets/bookstore.css">
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/pay.css">
    <!--自用样式-->
</head>
<body>
<!--头部-->
<%-include('navbar')%>
<!--路径导航-->
<div class="container">
    <ol class="breadcrumb" style="background: rgba(212,212,212,0.5)">
        <li><a href="/">首页</a></li>
        <li><a href="/balance">确认收货地址</a></li>
        <li><a href="/firm">确认收货地址</a></li>
        <li class="active">选择支付方式</li>
    </ol>
</div>
<!--内容-->
<div id="content">
    <div class="w">
        <div id="two">
            <table>
                <tr>
                    <td>
                        <strong>订单提交成功，请尽快付款！订单号：<%= order.order_num%></strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>请选择支付平台（目前仅支持支付宝和微信）</strong>
                    </td>
                    <td></td>
                    <td>
                        <div class="fr text-danger">
                            <strong>应付金额：￥<%= order.total_price%></strong>
                        </div>
                    </td>
                </tr>
                <form action="/shopping/pay" method="post">
                    <input type="hidden" name="order_id" value="<%= order._id%>">
                <tr>
                    <td colspan="2">
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="1">
                                <img src="/images/zfb.jpg">
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="0" checked>
                                <img src="/images/weixin.jpg">
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="fl">
                            <button type="submit" class="btn btn-danger">立即付款</button>
                        </div>
                    </td>
                </tr>
                </form>
            </table>
        </div>
    </div>
</div>


<!--底部-->
<%-include('footer')%>
</body>
<script src="/javascripts/jquery-3.2.1.min.js"></script><!--jquery-->
<script src="/bootstrap-3.3.7/js/bootstrap.js"></script><!--bootstrap官方js-->
</html>