<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>推荐好书</title>
    <link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.min.css">
    <!--bootstrap官方样式-->
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <!--强跨浏览器表现的一致性css 重置样式-->
    <link rel="stylesheet" href="/stylesheets/bookstore.css">
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/shangj.css">
    <link rel="stylesheet" href="/stylesheets/iconfont.css">
    <!--自用样式-->
</head>
<body>
    <!--头部-->
    <%-include('navbar')%>
    <!--路径导航-->
    <div class="container">
        <ol class="breadcrumb" style="background: rgba(212,212,212,0.5)">
            <li><a href="/">首页</a></li>
            <li class="active">推荐好书</li>
        </ol>
    </div>
    <!--推荐好书-->
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <!--内容-->
                <div class="w">
                    <div class="fl w-t">
                        <div id="div">
                            <strong>畅销好书</strong>
                        </div>

                        <!--一本书-->
                        <%for (var i = 0;i<chang_List.length;i++){%>
                        <div class="box">
                            <div class="box1">
                                <img src="/images/54654654.jpg">
                                <div class="f-r01">
                                    <strong><%= chang_List[i].name%></strong>
                                    <p><%= chang_List[i].author_id.name%></p>
                                    <p>销量：<%= chang_List[i].order_cnt%></p>
                                    <div class="i-r">
                                        <div class="fl">
                                            <i class="iconfont icon-gouwuchekong"></i>
                                            <p>购物车</p>
                                        </div>
                                        &nbsp;|&nbsp;
                                        <div class="fr"><i class="iconfont icon-xin"></i><p>收藏</p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%}%>
                    </div>
                </div>
                <!--分页-->
                <div class="text-center">
                    <% if(totalPage> 1){ %>
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <%if(page > 1){%>
                            <li>
                                <a href="/recommend/?page=<%=parseInt(page)-1%>" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <% } %>
                            <li><a href="#">第<%= page %>页/共<%=totalPage%>页</a></li>
                            <%if(page <= totalPage){%>
                            <li>
                                <a href="/recommend/?page=<%=parseInt(page)+1%>" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <%}%>
                        </ul>
                    </nav>
                    <%}%>
                </div>
            </div>
            <div class="col-md-2 col-md-offset-1">
                <%-include('ranking')%>
            </div>
        </div>
    </div>
    <!--底部-->
    <%-include('footer')%>
</body>
<script src="/javascripts/jquery-3.2.1.min.js"></script><!--jquery-->
<script src="/bootstrap-3.3.7/js/bootstrap.js"></script><!--bootstrap官方js-->
</html>