<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>在线书城</title>
    <link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.min.css">
    <!--bootstrap官方样式-->
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <!--强跨浏览器表现的一致性css 重置样式-->
    <link rel="stylesheet" href="/stylesheets/bookstore.css">

    <link rel="stylesheet" href="/stylesheets/iconfont.css">
    <link rel="stylesheet" href="/stylesheets/Shopping.css">
    <!--自用样式-->
</head>
<body>
<!--头部-->
<%-include('navbar')%>
<!--路径导航-->
<div class="container">
    <ol class="breadcrumb" style="background: rgba(212,212,212,0.5)">
        <li><a href="/">首页</a></li>
        <li class="active">购物车</li>
    </ol>
</div>
<!--内容-->
<div class="container">
<div id="content">
    <!--表格-->
    <div class="container-fluid">
        <div class="text-danger"><h4>我的购物车</h4></div>
        <%if(shoppingCarList.length > 0){%>
        <table class="table table-striped">
            <tr>
                <td class="Ocheck">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="checkedAll"> 全选
                        </label>
                    </div>
                </td>
                <th>购买信息</th>
                <th>单价</th>
                <th>数量</th>
                <th>小计</th>
                <th>操作</th>
            </tr>
            <% for (var i = 0;i<shoppingCarList.length;i++){%>
            <tr>
                <td class="Ocheck">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="shoppingchecked" name="<%=shoppingCarList[i].book_id.name%>" value="1">
                        </label>
                    </div>
                </td>
                <td>
                    <img src="/images/54654654.jpg">
                    <strong><%= shoppingCarList[i].book_id.name%></strong>
                </td>
                <td class="text-danger"><%= shoppingCarList[i].book_id.price%></td>
                <td>
                    <button class="btn btn-default" type="button">+</button>
                    <input type="text" id="text_box" value="<%= shoppingCarList[i].num%>" disabled name="num" class="btn input01">
                    <button class="btn btn-default" type="button">-</button>
                </td>
                <td>￥<%= shoppingCarList[i].num*shoppingCarList[i].book_id.price%></td>
                <td><a href="/shopping/delete?shoppingCar_id=<%= shoppingCarList[i]._id%>">删除</a></td>
            </tr>
            <% }%>
            <tr>
                <td class="Ocheck">
                    <div class="checkbox">
                        <input type="checkbox"> 全选
                    </div>
                </td>
                <td><a href="">删除选中图书</a></td>
                <td></td>
                <td></td>
                <td>共 <span>0</span> 本，合计 <span>0</span> 元</td>
                <td></td>
            </tr>
            <%}else {%>
            <div class="text-center">
                <h1>空空如也</h1>
            </div>
            <% }%>
        </table>
        <div class="text-left">
            <a href="/">再逛逛</a>
        </div>
        <div class="text-right">
            <a  href="/shopping/balance" class="btn btn-danger">去结算</a>
        </div>
    </div>
</div>
</div>


<!--底部-->
<%-include('footer')%>
</body>
<script src="/javascripts/jquery-3.2.1.min.js"></script><!--jquery-->
<script src="/bootstrap-3.3.7/js/bootstrap.js"></script><!--bootstrap官方js-->
<script src="/javascripts/layer/layer.js"></script>
<script>
    $(function(){
        var err='<%=locals.error%>';
        if(err){
            layer.msg(err);
        }
    })
</script>
<script src="/javascripts/Shopping_car.js"></script>
</html>