<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>在线书城</title>
    <link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.min.css">
    <!--bootstrap官方样式-->
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <!--强跨浏览器表现的一致性css 重置样式-->
    <link rel="stylesheet" href="/stylesheets/bookstore.css">
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/iconfont.css">
    <link rel="stylesheet" href="/stylesheets/Shopping.css">
    <!--自用样式-->
</head>
<body>
<!--头部-->
<%-include('navbar')%>
<!--路径导航-->
<div class="container">
    <ol class="breadcrumb" style="background: rgba(212,212,212,0.5)">
        <li><a href="/">首页</a></li>
        <li class="active">购物车</li>
    </ol>
</div>
<!--内容-->
<div class="container">
<div id="content">
    <!--表格-->
    <div class="container-fluid">
        <div class="text-danger"><h4>我的购物车</h4></div>
        <%if(shoppingCarList.length > 0){%>
        <table class="table table-striped">
            <tr>
                <td>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> 全选
                        </label>
                    </div>
                </td>
                <th>购买信息</th>
                <th>单价</th>
                <th>数量</th>
                <th>小计</th>
                <th>操作</th>
            </tr>
            <% for (var i = 0;i<shoppingCarList.length;i++){%>
            <tr>
                <td>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">
                        </label>
                    </div>
                </td>
                <td>
                    <img src="/images/54654654.jpg">
                    <p><%= shoppingCarList[i].book_id.name%></p>
                </td>
                <td><%= shoppingCarList[i].book_id.price%></td>
                <td>
                    <div class="input-group">
                              <span class="input-group-btn">
                                <button class="btn btn-default" type="button">+</button>
                              </span>
                        <input type="text" maxlength="3" class="form-control" value="<%= shoppingCarList[i].num%>">
                        <span class="input-group-btn">
                                <button class="btn btn-default" type="button">-</button>
                              </span>
                    </div>
                </td>
                <td>￥0.00</td>
                <td>删除</td>
            </tr>
            <tr>
                <td>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> 全选
                        </label>
                    </div>
                </td>
                <td><span>删除选中图书</span></td>
                <td></td>
                <td></td>
                <td>共3本，合计3.00元</td>
                <td></td>
            </tr>
            <% }%>
            <%}else {%>
            <div class="text-center">
                <h1>空空如也</h1>
            </div>
            <% }%>
        </table>
        <div class="fl">
            <a href="/">再逛逛</a>
        </div>
        <div class="fr">
            <a  href="/shopping/balance" class="btn btn-danger">去结算</a>
        </div>
    </div>
</div>
</div>


<!--底部-->
<%-include('footer')%>
</body>
<script src="/javascripts/jquery-3.2.1.min.js"></script><!--jquery-->
<script src="/bootstrap-3.3.7/js/bootstrap.js"></script><!--bootstrap官方js-->
</html>